<!--подключаем шаблон   -->
{% extends 'quest/question_base.html' %}

{% block title %}
Question
{% endblock %}


{% block quest %}
<h3 class="mb-2">Question: </h3>
{% for i in page %}
<form>
    <p name="que"><b>{{i.quest}}</b></p>
    {% for j in i.answers %}
    <div><input name="answer" type="radio" value={{j.is_right}}> {{j.answer}}</div>
    {% endfor %}
</form>
<div class="form-group">
    <button class="btn btn-success" id="save"> Подтвердить ответ</button>
</div>

{% if page.has_next %}
<a href="?page={{page.next_page_number}}">
    <p><input type="submit" value="Следующий вопрос"></p>
</a>
{% else %}
<a  href="/quest/result"><input type="submit" value="Завершить"></a>
{% endif %}

{% endfor %}
{% endblock %}
